/*************************FONTS*************************/

@font-face {
    font-display: swap; 
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/space-grotesk-v16-latin-500.woff2') format('woff2'); 
  }
 
  @font-face {
    font-display: swap; 
    font-family: 'Space Grotesk Bold';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/space-grotesk-v16-latin-700.woff2') format('woff2'); 
  }

/*************************GENERALS*************************/

:root{
    --black: #151515;
    --green: #4EE1A0;
    --dark-grey: #242424;
    --grey: #D9D9D9;
    --white: #FFF;

    --font: "Space Grotesk", sans-serif;
    --font-bold: "Space Grotesk Bold", sans-serif;
}

body{
    font-family: var(--font);
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 500;
    font-style: normal;
    color: var(--grey);
    background-color: var(--black);
}

.container{
  width : calc(100% - 1rem - 1rem);
  margin-inline : auto;
  padding-inline: auto;
}

main{
  display: grid;
  gap : 5rem;
}

.skill-title{
  display:none;
}

/**************************TYPO**************************/

:is(h1, h2, h3, h4, .h1, .h2, .h3, .h4, ) {
  font-family: var(--font-bold);  
  font-weight: 700;
}

:is(h1, .h1){
  font-size: clamp(2.5rem, 1.444rem + 4.507vw, 5.5rem) ;
  line-height: clamp(2.5rem, 1.444rem + 4.507vw, 5.5rem) ; 
  letter-spacing: clamp(-0.156rem, -0.186rem + 0.129vw, -0.071rem);
}

.h2{
  font-size: clamp(2rem, 1.648rem + 1.502vw, 3rem);                   /*de 2rem à 3 rem*/
  line-height: clamp(2.5rem, 2.148rem + 1.502vw, 3.5rem);             /* de 2.5rem à 3.5rem*/
  letter-spacing: clamp(-0.094rem, -0.105rem + 0.047vw, -0.063rem);   
}

h3{
  font-size: clamp(1.5rem, 1.324rem + 0.751vw, 2rem);
  line-height: 2rem;
  letter-spacing: clamp(-0.028rem, -0.045rem + 0.073vw, 0.021rem);
}

.list-style-projet,
p {
  font-size: clamp(1rem, 0.956rem + 0.188vw, 1.125rem);
  line-height: clamp(1.625rem, 1.581rem + 0.188vw, 1.75rem);
}

p{
  margin-block-end: 1.625rem;
}

.name-site{
  font-size:clamp(1.5rem, 1.324rem + 0.751vw, 2rem);
  line-height: 2rem;
  letter-spacing: clamp(0.028rem, 0.03rem + -0.01vw, 0.021rem);
}


/**************************COMPONENT**************************/




/*************************LAYOUT*************************/

/*Classical break-point px : 0 > 576 > 768 > 992 > 1200 > 1400
Convert to em              : 0 > 36  > 48  > 62  > 1200 > 87.5
I define 2 break-points : Mobile > 48rem  > tablette 
                                 > 71rem  > Deskstop */                              


@media screen and (min-width: 48em) {
  .container {
    max-width: 48rem;
  }
}

@media screen and (min-width: 62em) {
  .container {
    max-width: 71rem;
  }
}
/******Similar rules on header + footer******/

.header .container,
.footer .container{
  display : grid;
  gap : 1.25rem ;
  justify-content: center;
  text-align: center;
}

.shared-links{
  display : flex;
  flex-direction: row;
}

.socials img{
  padding-inline-end : 1rem;
}

@media screen and (min-width: 48em) {
  .header .container,
  .footer .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap : 0.5rem;
    justify-content: flex-start;
    text-align: start;
  }

  .shared-links{
    justify-content: flex-end;
  }
}

/******Only header******/
.header {
  margin-block-start: clamp(1.25rem, 0.831rem + 1.788vw, 2.44rem);
  margin-block-end: clamp(1.5rem, -2.613rem + 17.547vw, 5.81rem);
}

@media screen and (min-width: 61.99em) {
    .header{
      margin-block-end: 2.6em;
    }
  }

/********* IDENTITY LAYOUT *********/
.identity{
  text-align: center;
  display: grid;
  gap :2.5rem;
}

.main-img-container{
  order : -1;
  display : flex;
  justify-content: center;

  padding-inline :calc(1rem * 6.33 / 2 ); 
}

.container-main-text{
  display: grid;
  gap: 1.5rem;
}

@media screen and (min-width: 48em) {
  .identity{
    grid-template-columns: 1fr 1fr;
    gap : 1rem  ;
  }

  .main-img-container{
    order:0;                          /*100px de chaque coté de l'image pour une largeur à 174px --> 1-(174*374)=0.54*/
    margin-inline: 0;
  }

  .container-main-text{
    text-align: start;
    align-self: center;                    /*a  modif en fonction des polices*/
  }
}

/********* SKILLS LAYOUT *********/

.skills .container{
  border-block : .0625rem solid white;
  padding-block: 2.5rem;
  text-align: center;
}

@media screen and (min-width: 48em) {
  .list-skills{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:1.5rem;
  }

  .skills .container{
    border-bottom : none;
    padding-block: 4.5rem 2.5rem;
    text-align: start;
  }
}

@media screen and (min-width: 62em) {
  .list-skills{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/********* PROJECT LAYOUT *********/
.secondary-title{
  display: flex;
  justify-content: space-between;
  margin-block-end: 2.5rem;
}

.projet{
  display: grid;
  gap:clamp(0.4rem, 0.502rem + -0.436vw, 0.11rem);
}

.list-projects{
  display:grid;
  gap:2.5rem;
}

.container-img-projet {
  order:-1;
}

.list-style-projet, .view-links{
  display:flex;
}

@media screen and (min-width: 48em) {
  .list-projects{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap : 3.75rem 1.12rem;
  }
}

@media screen and (min-width: 55em) {
  
  .list-projects{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap : 4.31rem 1.5rem; 
  }
}

@media screen and (min-width: 61.99em) {

  .container-img-projet{
    grid-area: a ;
    /*background-color: yellow;*/
  }
  .view-links{
    grid-area: a ;
    /*background-color: yellow;*/
  }
  .name-project{
    grid-area: b ;
  }
  .list-style-project{
    grid-area: b ;
  }

  .projet{
    grid-template-areas: "a"
                         "b";
  }

}

/********* CONTACT LAYOUT *********/
.contact .container{
  display:grid;
  gap:2rem;
}


.contact-form{
  padding-block-end: 2.44rem;
  margin-block-end: 2.44rem;
}

@media screen and (min-width: 48em) {
  .contact .container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:1rem;
  }
}

/********* FOOTER LAYOUT *********/

footer .container{
  border-block-start:.0625rem solid white;
  padding-block-start: 2.44rem;
  margin-block-end: 3.75rem ;
}

.twitter-b img:last-child {
  padding-inline-end: 0;
}


@media screen and (min-width: 48em) {
  footer{
    margin-block: 1.87rem 2.5rem ;
  }
  
}
@media screen and (min-width: 62em) {
  footer{
    margin-block: 2.94rem 5.94rem ;
  }
}


